<h1 style="font-size: revert; margin-top: 50px; display: flex; justify-content: center;">Productos Cargados</h1>
    <div >
        <table id="table-products" style="margin: 30px; display: flex; justify-content: center; background-color: #e2e6ea;;" ></table>
    </div>

